<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jQuery Ajax tutorial</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/main.js"></script>

</head>
<body>
    <h1>jQuery Ajax Tutorial</h1>
    <h2>Coffee Orders</h2>
    <ul id="orders">

    </ul>
    <h4>Add a Coffee Order</h4>
    <p>name:<input type="text" id="name"/></p>
    <p>drink:<input type="text" id="drink"/></p>
    <button id="add-order">Add!</button>
</body>
</html>